{% extends "BGpt/layout.html" %}
{% load static %}

{% block body %} 
<div class="row">
    <div class="col-4">
        <ul class="list-group">
            {% for h in history %}
            {% ifchanged %}
            <a class="list-group-item" data-id="ch-{{ h.session }}" href="#chat-{{ h.session }}" role="tab" aria-controls="list-{{ h.session }}">
                <li class="title-list">{{ h.title }}</li>    
            </a>
            {% endifchanged %}
            {% endfor %}
        </ul>
    </div>

    <div class="col-8">
        <ul class="list-group list-group-responses">
            {% for h in history %}
            <li id="inp{{ h.pk }}" data-id="ch-{{ h.session }}">{{ h.input }}</li>
            <li id="resp{{ h.pk }}" data-id="ch-{{ h.session }}">{{ h.response }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
{% block page_scripts %}
<script src="/static/BGpt/history.js"></script>
{% endblock %}