{% extends "BGpt/layout.html" %}
{% load static %}

{% block body %} 
<div class="row">
    <div class="col-4 text-truncate">
        <ul class="list-group">
            {% for sessions in history %}
                {% for h in sessions %}
                    {% ifchanged %}
                    <a class="list-group-item" data-id="ch-{{ h.session }}" href="#chat-{{ h.session }}" role="tab" aria-controls="list-{{ h.session }}">
                        <li class="title-list">{{ h.title }}</li>    
                    </a>
                    {% endifchanged %}
                {% endfor %}
            {% endfor %}
        </ul>

         <!-- paginator -->
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if history.has_previous %}
                
                <li class="page-item"><a href="?page={{ history.previous_page_number }}" class="page-link">&laquo;</a></li>
                {% else %}
                <li class="page-item disabled"><a href="?page={{ history.next_page_number }}" class="page-link">&laquo;</a></li>
                {% endif %}
                {% if history.has_next %}
                <li class="page-item"><a href="?page={{ history.next_page_number }}" class="page-link">&raquo;</a></li>
                {% else %}
                <li class="page-item disabled"><a href="?page={{ history.previous_page_number }}" class="page-link">&raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <div class="col-8">
        <ul class="list-group list-group-responses">
            {% for sessions in history %}
                {% for h in sessions %}
                <li id="inp{{ h.pk }}" class="bubble left" data-id="ch-{{ h.session }}">{{ h.input }}</li>
                <li id="resp{{ h.pk }}" class="bubble right" data-id="ch-{{ h.session }}">{{ h.response }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
{% block page_scripts %}
<script src="/static/BGpt/history.js"></script>
{% endblock %}