{% extends "BGpt/layout.html" %}
{% load static %}

{% block body %} 
<div class="row">
    <div class="col-4">
        <ul class="list-group">
            {% for h in history %}
            <a class="list-group-item" id="ch-{{ h.session }}" href="#list-{{ h.session }}" role="tab" aria-controls="list-{{ h.session }}">
                <li class="title-list">{{ h.title }}</li>    
            </a>
            {% endfor %}
        </ul>
    </div>

    <div class="col-8">
        <ul class="list-group">
            {% for h in history %}
            <li class="inp" id="inp-{{ h.session }}">{{ h.input }}</li>
            <li class="resp" id="resp-{{ h.session }}">{{ h.response }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}