{% extends "BGpt/layout.html" %}
{% load static %}

{% block body %}

<div id="bgpt-logo-cont">
  <h1>B</h1>
  <h1>G</h1>
  <h3>p</h3>
  <h3>t</h3>
</div>
<div id="index-bod">
  <div id="welcome">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Welcome to BGpt.</h1>
        <p class="lead">The first iteration of a conversational language learning tool, helping to practise vocalising languages.</p>
      </div>
    </div>

    {% if user.is_authenticated %}
    <!-- Button trigger chat_window modal -->
    <button type="button" class="btn btn-prim" data-bs-toggle="modal" data-bs-target="#chat_window">
      Let's Chat!
    </button>
    <!-- Button trigger chat_history modal -->
    <button type="button" class="btn btn-prim" data-bs-toggle="modal" data-bs-target="#chat_history">
      Load Previous Chat
    </button>
    {% else %}
    <h3><a href="{% url 'login' %}">Login here to start chatting!</a></h3>
    {% endif %}
  </div>

  <div id="card-cont">
    <div class="card">
      <div class="card-body">
        <h3 class="card-head">What is BGpt</h3>
        <p>
          A conversational language tool that feeds audio to AI and generates topical responses. 
        </p>
        <p>
          BGpt is the effort of an Irishman living in Sofia to adapt his attempt to learn a language.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3>
          What is it's purpose?
        </h3> 
        <p>
          The world has changed quite a bit since 2020, most people working from their homes and day to day interaction has suffered because of it. 
          I found myself understanding the basics internally, but vocalising was a different scenario.
        </p>
        <p>
          Using the recent influx of AI tools at hand, I set out to create something that allowed me to  work on 
          conversational skills in passing, rather than looking at notes and using flashcards. 
        </p>  
      </div>
    </div>
  </div>

  TODO:
  <p>framework for text interface></p>
  <p>framework for audio/mic interface</p>
  <p>user/login/register  interface (modal?)</p>



  <!-- Start Chatting Modal -->
  <div class="modal fade" id="chat_window" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="chat_window" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Let's Chat!</h1>
          <button type="button" class="btn-close cls-sess" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6>Please which language you speak, and which language you wish to translate to:</h6>
          <select name="lang" id="lang_selector">
              <option value="bg-en" selected="selected">BG -> ENG</option>
              <option value="en-bg">ENG -> BG</option>
          </select>
          <h6>Please select the model for transcription, this defines the speed/accuracy of the speech to text</h6>
          <select name="model" id="model_selector">
              <option value="base">Base ~20 seconds response time (Inaccurate)</option>
              <option value="med" selected="selected">Medium ~1 minute response time (Recommended) </option>
              <option value="large">Large ~3 minute response time (Accurate)</option>
          </select>
          <input type="text" name="title" id="chat-title" placeholder="Give this chat a title?">
          <button id="btn-start" class="btn btn-prim"> <i class="fa-solid fa-microphone"></i> Start Recording</button>
          <button id="btn-stop" class="btn btn-prim" style="display: none;"><i class="fa-solid fa-microphone-slash"></i> Stop Recording</button>
          <button id="btn-replay" class="btn btn-prim" style="display: none;"><i class="fa-solid fa-repeat"></i> Replay Audio</button>
          <br>
          <div id="resp-cont">
            <div id="response"></div>
            <div id="resp-trans"></div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-sec" data-bs-dismiss="modal">Close</button> -->
          <button type="button" class="btn btn-prim cls-sess" data-bs-dismiss="modal">Close session</button>
        </div>
      </div>
    </div>
  </div>

    
  <!-- Chat History Modal -->
  <div class="modal fade" id="chat_history" tabindex="-1" aria-labelledby="chat_history" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Chat History</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          This is where the last chats will be stored.
          {% for h in history %}
          <div class="hist-cont">
            <div class="chat-cont">
              <a href="{% url 'view_chat' h.session %}">
              <div class="chat-session">{% ifchanged %}{{ h.session }}{% endifchanged %}</div>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sec" data-bs-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-prim">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}



{% block page_scripts %}
<script src="static/BGpt/audio.js"></script>
{% endblock %}