{% extends "BGpt/layout.html" %}
{% load static %}

{% block body %}
TODO:
<p>framework for text interface></p>
<p>framework for audio/mic interface</p>
<p>user/login/register  interface (modal?)</p>

<!-- <audio id="recorder" controls></audio> -->
<button id="btn-start" class="btn btn-prim"> <i class="fa-solid fa-microphone"></i> Start Recording</button>
<button id="btn-stop" class="btn btn-prim" style="display: none;"><i class="fa-solid fa-microphone-slash"></i>Stop Recording</button>
<button id="btn-replay" class="btn btn-prim" style="display: none;"><i class="fa-solid fa-repeat"></i>Replay Audio</button>
<br>
<!-- <audio controls id="playback"></audio> -->

<div id="response"></div>

{% endblock %}



{% block page_scripts %}
<script src="static/BGpt/audio.js"></script>
{% endblock %}