// palette: https://lospec.com/palette-list/shine-16 
$turk: #9de4e4;
$blue-lg: #5d9ddd;
$blue-drk: #070760;
$purp: #612f93;
$purp-lg: #b99cd4;
$pink: #bf66bf;
$white: #ffffff;
$brown: #784a5f;
$black: #2b0000;
$maroon: #49132f;
$red: #be3131;
$org: #efa65d;
$yellow: #ecec77;
$green-lg: #97d954;
$green-md: #2d892d;
$green-drk: #153f2f;

body{
    .btn-prim{
        background-color: $white;
        color: $red;
        font-weight: bold;
        border-width: 1px;
        border-style: solid;
        border: $black;
        box-shadow: 7px 3px 3px $green-drk ;
    }
    .btn-prim:hover{
        background-color: $green-lg;
        color: $blue-drk;
    }
}
