// palette: https://lospec.com/palette-list/journey-6
$turk: #9de4e4;
$blue-lg: #5d9ddd;
$blue-drk: #070760;
$white: #ffffff;
$black: #2b0000;
$red: #ff2d2d;
$org: #efa65d;
$yellow: #ecec77;
$khaki: #c0aa74;
$khaki-lg: #f1f1d1;
$green: #319835;
$green-drk: #0f4d32; 

body{
    .btn-prim{
        background-color: $white;
        color: $red;
        font-weight: bold;
        border-width: 1px;
        border-style: solid;
        // border-radius: 5px;
        border: $black;
        // box-shadow: 7px 3px 3px $green-drk ;

        .login .register{
            border: 1px, solid, $black;
        }
    }
    .btn-prim:hover{
        background-color: $black;
        color: $white;
    }
    #register-cont{
        display: none;
        flex-direction: column;
        align-items: center;
    }
    #login-cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 5px 5px 5px;
    }
    .form-group{
        margin-bottom: 5px;
    }
    .btn-cont{
        display: flex;
        flex-direction: row;
        justify-content: center;
        // align-items: center;
    }
    .message{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #resp-cont{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #response, #resp-trans{
        display: flex;
        border: 10px solid red;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 80%;
        align-items: center;
        justify-content: flex-start;
        margin: auto;
    }
}
