body .btn-prim {
  background-color: #ffffff;
  color: #ff2d2d;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border: #2b0000;
}
body .btn-prim:hover {
  box-shadow: 0 0 0 4px #ff2d2d, 0 0 0 8px #319835;
}
body .btn-prim:not(.btn):hover {
  color: black;
  box-shadow: none;
  border: 0;
  border-radius: 0.5em;
}
body .btn-sec {
  background-color: #ffffff;
  color: #2b0000;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border: #2b0000;
}
body .btn-sec:hover {
  background-color: #ff2d2d;
  color: #ffffff;
}
body #register-cont {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body #login-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 5px 5px 5px;
}
body .form-group {
  margin-bottom: 5px;
}
body .btn-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body .btn-cont a {
  text-decoration: none;
}
body .btn-reg {
  justify-content: space-between;
  padding: 5% 5% 5% 5%;
}
body .message {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body #resp-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #response, body #resp-trans {
  display: flex;
  border: 10px solid red;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80%;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
}
body #bgpt-logo-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSI_i6Fof5rOuhRPBSn-OqZWhjn82TCwBw3MXYXSOr9WYwM2JkV-IZcnrx6zO3iGbBRuJs&usqp=CAU);
}
body #bgpt-logo-cont h1 {
  font-size: 10em;
}
body #bgpt-logo-cont h3 {
  font-size: 3em;
}
body #welcome {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
body .display-4 {
  text-align: center;
}
body #card-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5% 5% 5% 5%;
  border-radius: var(--bs-border-radius);
}
body #card-cont > * {
  border: 0;
  border-radius: 0.5em;
  box-shadow: 0 0 0 10px #ff2d2d, 0 0 0 20px #319835;
}
body #start-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
body #start-cont .card:hover {
  border: 0;
  border-radius: 0.5em;
}
body #start-cont > * {
  box-shadow: 10px 10px 10px #0f4d32;
}
@media (max-width: 600px) {
  body #card-cont {
    flex-direction: column;
    align-items: center;
  }
  body .card {
    margin-bottom: 50px;
  }
}

.card-body {
  max-width: 500px;
}
.card-body h6 {
  text-align: center;
}

#navbarNavAltMarkup {
  justify-content: center;
  padding: 0 5% 0 5%;
}

.modal-content {
  display: flex;
  justify-content: center;
}
.modal-content .modal-body {
  display: flex;
  flex-direction: column;
}
.modal-content .modal-body .spinner-border {
  display: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-light {
  box-shadow: 0 0 0 5px #0f4d32;
}

/*# sourceMappingURL=styles.css.map */
